body{
    background-color: #2E3440 ;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    

}

header{
    color: #ECEFF4 ;
    background-color: #3B4252;
    text-align: center;
    padding: 15px;
}
footer{
    color: #ECEFF4 ;
    background-color: #3B4252;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 15px;

}
footer img{
    width: 100px;
    border-radius: 50%;
}

.divMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards no contêiner */
    gap: 10px; /* Espaço entre os cards */
    margin: 0 auto; /* Centraliza o contêiner na tela */
    max-width: 1000px; 
    padding: 25px;
    
}
.card{
    background-color: #4C566A;
    border: 1px solid #81A1C1;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 45%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}
.card img{
    border-radius: 10px;
    border: 1px solid #88C0D0 ;
    width: 30%;
}

.card p{
    border-radius: 10px;
    border: 1px solid #88C0D0 ;
    color:#D8DEE9  ;
    width: 35%;
    padding: 5px;
    
}